.content6 {
  width: 140px;
  height: 40px;
  background-color: white;
  position: fixed;
  top: 94px;
  left: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1)) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  transition: transform 0.2s ease; 
}

.content6:hover {
  transform: scale(1.1); 
}

.iconevoltar {
  font-size: 21px;
  width: 30px;
  height: 30px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  transform: scaleX(-1);
}

.index {
  padding-top: 145px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.index .titulo-sobre h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #000;
  padding-bottom: 25px;
  padding-top: 50px;
}

.index .texto-sobre p {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  margin-bottom: 30px;
  text-align: center;
}


.col {
  margin: 10px 100px 1px 100px ;
}

.foto-sobre {
  width: 17rem;
  height: 17rem;
  border-radius: 20px; 
  border: 1px solid #000; 
}

.Nome {
  margin-top: 10px; 
  font-weight: bold;
  text-align: center; 
  padding-bottom: 30px;
}

@media only screen and (max-width: 1300px) {
  .index .texto-sobre p {
    font-size: 15px;
  }
  
  .foto-sobre {
    width: 10.2rem;
    height: 10.2rem;
  }
      
  .Nome {
  padding-bottom: 10px;
  font-size: 15px;
    }
  }

@media only screen and (max-width: 768px) {
.content6 {
  width: 100px;
  height: 30px;
  top: 94px;
  left: 15px;
  font-size: 15px;
}

.iconevoltar {
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-right: 3px;
  transform: scaleX(-1);
}

.index .titulo-sobre h1 {
  font-size: 22px;
}

.index .texto-sobre p {
  font-size: 13.4px;
}

.foto-sobre {
  width: 9rem;
  height: 9rem;
}
    
.Nome {
padding-bottom: 8px;
font-size: 15px;
  }
}

@media only screen and (max-width: 650px) {
    .content6 {
        width: 35px;
        height: 35px;
        top: 94px;
        left: 15px;
        font-size: 0; 
    }

    .content6 .iconevoltar {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }

    .index .titulo-sobre h1 {
      font-size: 22px;
    }
    
    .index .texto-sobre p {
      font-size: 10.9px;
    }
  

    .foto-sobre {
      width: 7rem;
      height: 7rem;
    }
    
    .Nome {
      padding-bottom: 5px;
      font-size: 14px;
    }
}

@media only screen and (max-width: 445px) {
    .content6 {
        width: 35px;
        height: 35px;
        top: 70px;
        left: 15px;
        font-size: 0; 
    }

    .content6 .iconevoltar {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }
    
    .index .titulo-sobre h1 {
      font-size: 22px;
    }
    
    .index .texto-sobre p {
      font-size: 7.3px;
    }
  
    .foto-sobre {
      width: 4rem;
      height: 4rem;
    }
    
    .Nome {
      padding-bottom: 1px;
      font-size: 10px;
    }
}

@media only screen and (max-width: 338px) {
  .content6 {
    width: 35px;
    height: 35px;
    top: 70px;
    left: 15px;
    font-size: 0; 
}

.content6 .iconevoltar {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-right: 0px;
    transform: scaleX(-1);
}

.index .titulo-sobre h1 {
  font-size: 20px;
}

.index .texto-sobre p {
  font-size: 6.5px;
}

.foto-sobre {
  width: 4rem;
  height: 4rem;
}

.Nome {
  padding-bottom: 1px;
  font-size: 10px;
}
}


@media only screen and (max-width: 250px) {
  .content6 {
    width: 35px;
    height: 35px;
    top: 70px;
    left: 15px;
    font-size: 0; 
}

.content6 .iconevoltar {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-right: 0px;
    transform: scaleX(-1);
}

.index {
  padding-top: 70px;
}

.index .titulo-sobre h1 {
  font-size: 18px;
}

.index .texto-sobre p {
  font-size: 6px;
}

.foto-sobre {
  display: none;
}

.Nome {
  display: none;
}
}


@media only screen and (max-width: 170px) {
       .content6 {
            width: 20px;
            height: 20px;
            top: 70px;
            left: 15px;
            font-size: 0; 
        }
    
        .content6 .iconevoltar {
            font-size: 10px;
            width: 10px;
            height: 10px;
            margin-top: 0;
            margin-right: 0px;
            transform: scaleX(-1);
        }

            .index {
              padding-top: 70px;
            }
          
            .index .titulo-sobre h1 {
              font-size: 16px;
            }
            
            .index .texto-sobre p {
              font-size: 3px;
            }
          
            .foto-sobre {
              display: none;
            }
            
            .Nome {
              display: none;
            }

    @media only screen and (max-width: 100px) {
      .content6 {
        width: 20px;
        height: 20px;
        top: 70px;
        left: 15px;
        font-size: 0; 
    }

    .content6 .iconevoltar {
        font-size: 10px;
        width: 10px;
        height: 10px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }

        .index {
          padding-top: 70px;
        }
      
        .index .titulo-sobre h1 {
          font-size: 16px;
        }
        
        .index .texto-sobre p {
          font-size: 3.5px;
        }
      
        .foto-sobre {
          display: none;
        }
        
        .Nome {
          display: none;
        }
    }
}