.carouselContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carouselContainer {
  padding-top: 4rem;
}

@media (min-width: 1360px) {
  .carouselContainer img {
    height: 480px;
    width: 1360px;
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.verMaisContainer {
  text-align: center;
  margin-top: 20px;
}
