.carouselContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carouselContainer {
  padding-top: 4rem;
}

.btn {
  width: 100%; 
  max-width: 240px;
  height: 60px;
  background-color: white;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 28px; 
  font-weight: 600;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1)) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  margin: 0 auto 40px; 
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.1);
}


@media (max-width: 170px) {
  .btn {
    font-size: 1.25em; 
  }
}


@media (min-width: 1360px) {
  .carouselContainer img {
    height: 480px;
    width: 1360px;
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.verMaisContainer {
  text-align: center;
  margin-top: 20px;
}
