.cardLeft {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
  }
  
.card {
    border-radius: 25px;
    width: 660px;
  }

  .cardRight {
    background-color: #e0e7f3;
    border-radius: 0 25px 25px 0;
  }
  
  .cardInfo {
    margin-top: 20px;
  }
  
  .cardInfo p {
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .image img {
    width: 100%;
    height: auto;
    border-radius: 25px;
  }
  