.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 835px;
    margin-left: -30px;
    padding-top: 100px;
}

.login {
    max-width: 600px;
    padding-top: 60px;
    font-family: Arial, sans-serif;
}

.passwordInputContainer {
    position: relative;
}

.passwordVisibilityToggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    color: #000000;
}

.label {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-top: 0.5em;
}

.label::before {
    content: "• ";
    font-weight: bold;
    margin-right: 0.25em;
}

.input {
    border: none;
    border-bottom: 2px solid #000;
    width: 300px;
    padding: 0.1em 0 0 0;
    font-size: 24px;
    font-weight: bold;
    background: none;
    color: #000;
    margin-left: 20px;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}

.btn {
    width: 240px;
    height: 60px;
    background-color: white;
    position: relative;
    margin-top: 2em;
    font-family: 'Inter', sans-serif;
    font-size: 23.5px;
    font-weight: 600;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1)) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    box-sizing: border-box;
    left: 42px;
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.1);

}

.socialLogin {
    margin-left: -7px;
    display: flex;
    align-items: center;
}

.socialLogin button {
    margin-top: 10px;
}


.content6 {
    width: 140px;
    height: 40px;
    background-color: white;
    position: fixed;
    top: 94px;
    left: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1)) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    box-sizing: border-box;
    transition: transform 0.2s ease; 
  }
  
  .content6:hover {
    transform: scale(1.1); 
  }
  
  .iconevoltar {
    font-size: 21px;
    width: 30px;
    height: 30px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    transform: scaleX(-1);
  }


.terms {
    text-align: center;
    font-size: 24px;
    margin-left: 96px;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
}

.terms span {
    color: #306AFF;
    position: relative;
}

.terms span::after {
    content: '';
    display: block;
    width: calc(100% - 1px);
    height: 1px;
    background-color: #306AFF;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.ou {
    font-weight: bold;
    display: inline-block;
    position: relative;
    font-size: 24px;
    top: 3px;
    margin-left: 79px;
}

.ou::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 1px;
    left: 0;
}

@media only screen and (max-width: 1300px) {
    .container {
        height: 785px;
        margin-left: -30px;
    }
}

@media only screen and (max-width: 920px) {
    .container {
        height: 822px;
        margin-left: -30px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        height: 780px;
        margin-left: -90px;
    }

    .passwordVisibilityToggle {
        left: 300px;
        font-size: 25px;
    }

    .socialLogin {
        margin-left: 11px;
        display: flex;
        align-items: center;
    }

    .socialLogin button {
        margin-top: 10px;
    }

    .login {
        padding-top: 50px;
    }

    .label {
        font-size: 20px;
    }

    .input {
        width: 280px;
    }

    .btn {
        font-size: 19.5px;
        width: 200px;
        height: 40px;
        left: 52px;
    }

    .content6 {
        width: 100px;
        height: 30px;
        top: 94px;
        left: 15px;
        font-size: 15px;
      }
      
      .iconevoltar {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 3px;
        transform: scaleX(-1);
      }

    .terms {
        margin-left: 114px;
        font-size: 20px;
    }

    .ou {
        font-size: 20px;
        margin-left: 99px;
    }
}

@media only screen and (max-width: 650px) {
    .container {
        height: 740px;
        margin-left: -75px;
    }

    .passwordVisibilityToggle {
        left: 300px;
    }

    .socialLogin {
        margin-left: -43px;
        display: flex;
        align-items: center;
    }

    .socialLogin button {
        margin-top: 10px;
    }

    .label {
        font-size: 18px;
    }

    .btn {
        font-size: 13.5px;
        width: 140px;
        height: 35px;
        left: 80px;
    }

    .content6 {
        width: 35px;
        height: 35px;
        top: 94px;
        left: 15px;
        font-size: 0; 
    }

    .content6 .iconevoltar {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }

    .terms {
        font-size: 18px;
        margin-left: 132px;
    }

    .ou {
        font-size: 18px;
        margin-left: 155px;
    }
}

@media only screen and (max-width: 470px) {
    .container {
        height: 730px;
        margin-left: -70px;
    }

    .passwordVisibilityToggle {
        left: 220px;
    }

    .socialLogin {
        margin-left: -22px;
        display: flex;
        align-items: center;
    }

    .socialLogin button {
        margin-top: 10px;
    }

    .label {
        font-size: 16px;
    }

    .input {
        width: 200px;
    }

    .btn {
        font-size: 11.5px;
        width: 120px;
        height: 35px;
        left: 50px;
    }

    .content6 {
        width: 35px;
        height: 35px;
        top: 70px;
        left: 15px;
        font-size: 0; 
    }

    .content6 .iconevoltar {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }

    .terms {
        font-size: 16px;
        margin-left: 71px;
    }

    .ou {
        font-size: 16px;
        left: -28.5px;
    }
}

@media only screen and (max-width: 340px) {
    .container {
        height: 580px;
        margin-left: -45px;
    }

    .passwordVisibilityToggle {
        left: 138px;
        font-size: 20px;
    }

    .socialLogin {
        margin-left: -34px;
        display: flex;
        align-items: center;
    }

    .socialLogin button {
        margin-top: 10px;
    }

    .label {
        font-size: 12px;
    }

    .input {
        width: 140px;
    }

    .btn {
        font-size: 5.5px;
        width: 70px;
        height: 25px;
        left: 45px;
    }

    .content6 {
        width: 35px;
        height: 35px;
        top: 70px;
        left: 15px;
        font-size: 0; 
    }
    
    .content6 .iconevoltar {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }

    .terms {
        font-size: 12px;
        margin-left: 48px;
    }

    .ou {
        font-size: 12px;
        left: -33px;
    }
}

@media only screen and (max-width: 240px) {
    .container {
        height: 570px;
        margin-left: -45px;
    }

    .passwordVisibilityToggle {
        left: 48px;
        font-size: 20px;
    }

    .socialLogin {
        margin-left: -17px;
        display: flex;
        align-items: center;
    }

    .socialLogin button {
        margin-top: 10px;
    }

    .label {
        font-size: 7px;
    }

    .input {
        width: 80px;
    }

    .btn {
        font-size: 5.5px;
        width: 60px;
        height: 25px;
        left: 25px;
    }

    .content6 {
        width: 35px;
        height: 35px;
        top: 70px;
        left: 15px;
        font-size: 0; 
    }
    
    .content6 .iconevoltar {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }

    .terms {
        font-size: 7px;
        margin-left: 35px;
    }

    .ou {
        font-size: 7px;
        left: -52.5px;
    }
}

.socialLogin {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.socialLogin .btn {
    margin: 0 5px;
}

@media only screen and (max-width: 150px) {
    .container {
        height: 480px;
        margin-left: -5px;
    }

    .passwordVisibilityToggle {
        left: -40px;
        font-size: 20px;
        display: none;
    }

    .socialLogin {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }

    .socialLogin button {
        margin-top: 10px;
    }

    .label {
        font-size: 5px;
    }

    .input {
        width: 10px;
    }

    .btn {
        font-size: 2.5px;
        width: 35px;
        height: 15px;
        left: 0px;
    }

    .content6 {
        width: 20px;
        height: 20px;
        top: 70px;
        left: 15px;
        font-size: 0; 
    }

    .content6 .iconevoltar {
        font-size: 10px;
        width: 10px;
        height: 10px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }

    .terms {
        font-size: 3px;
        margin-left: 2px;
    }

    .ou {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .socialLogin {
        flex-direction: column;
        align-items: center;
    }

    .socialLogin .btn {
        margin: 5px 0;
    }
}

.btn {
    margin-top: 20px;
}