.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 820px;
    margin-left: -30px;
    padding-top: 100px;
}

.login {
    max-width: 600px;
    padding-top: 60px;
    font-family: Arial, sans-serif;
}

.passwordInputContainer {
    position: relative;
}
  
.passwordVisibilityToggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100px; 
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    color: #000000;
}

.label {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-top: 0.5em;
}

.label::before {
    content: "• ";
    font-weight: bold;
    margin-right: 0.25em;
}

.input {
    border: none;
    border-bottom: 2px solid #000;
    width: 300px;
    padding: 0.1em 0 0 0;
    font-size: 24px;
    font-weight: bold;
    background: none;
    color: #000;
    margin-left: 20px;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}

.btn {
    width: 240px;
    height: 60px;
    background-color: white;
    position: relative;
    margin-top: 2em;
    font-family: 'Inter', sans-serif;
    font-size: 23.5px;
    font-weight: 600;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1)) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    box-sizing: border-box;
    left: 42px;
}

.socialLogin {
    margin-left: -5px;
    display: flex;
    align-items: center;
  }
  
  .socialLogin button {
    margin-top: 10px; 
  }
  

.content6 {
    width: 140px;
    height: 40px;
    background-color: white;
    position: fixed; 
    top: 94px;
    left: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1)) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    box-sizing: border-box;
}

.iconevoltar {
    font-size: 21px;
    width: 30px;
    height: 30px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    transform: scaleX(-1);
}

.terms {
    text-align: center;
    font-size: 18px;
    margin-left: 150px;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
}

.terms span {
    color: #306AFF;
    position: relative;
}

.terms span::after {
    content: '';
    display: block;
    width: calc(100% - 1px); 
    height: 1px;
    background-color: #306AFF;
    position: absolute;
    bottom: 1px; 
    left: 50%;
    transform: translateX(-50%);
} 

.ou {
    font-weight: bold;
    display: inline-block;
    position: relative;
    font-size: 24px;
    top: 5px;
    margin-left: 80px;
}

.ou::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 1px;
    left: 0;
} 

@media only screen and (max-width: 1300px) {
    .container {
        height: 750px;
        margin-left: -30px;
    }
}

@media only screen and (max-width: 920px) {
    .container {
        height: 750px;
        margin-left: -30px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        height: 830px;
        margin-left: -90px;
    }

    .passwordVisibilityToggle {
        left: 320px;
        font-size: 25px;
    }

    .socialLogin {
        margin-left: 35px;
        display: flex;
        align-items: center;
    }
      
      .socialLogin button {
        margin-top: 10px; 
    }
      

    .btn {
        font-size: 19.5px; 
    }

    .terms {
        margin-left: 152px;
    }

    .ou {
        margin-left: 80px;
    }
}

@media only screen and (max-width: 650px) {
    .container {
        height: 710px;
        margin-left: -75px;
    }
          
    .passwordVisibilityToggle {
        left: 320px;
    }

    .socialLogin {
        margin-left: -55px;
        display: flex;
        align-items: center;
    }
      
      .socialLogin button {
        margin-top: 10px; 
    }

    .label {
        font-size: 18px; 
    }

    .btn {
        font-size: 13.5px; 
        width: 140px; 
        height: 35px;
        left: 80px;
    }

    .content6 {
        width: 35px;
        height: 35px;
        top: 94px;
        left: 15px;
        font-size: 0; 
    }

    .content6 .iconevoltar {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }

    .terms {
        font-size: 16px;
        margin-left: 172px;
    }

    .ou {
        font-size: 18px;
        margin-left: 160px;
    }
}

@media only screen and (max-width: 438px) {
    .container {
        height: 755px;
        margin-left: -70px;
    }

    .passwordVisibilityToggle {
        left: 220px;
    }

    .socialLogin {
        margin-left: -22px;
        display: flex;
        align-items: center;
    }
      
      .socialLogin button {
        margin-top: 10px; 
    }

    .label {
        font-size: 16px; 
    }

    .input {
        width: 200px;
    }

    .btn {
        font-size: 11.5px; 
        width: 120px; 
        height: 35px;
        left: 50px;
    }

    .content6 {
        width: 35px;
        height: 35px;
        top: 70px;
        left: 15px;
        font-size: 0; 
    }

    .content6 .iconevoltar {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }

    .terms {
        font-size: 16px;
        margin-left: 70px;
    }

    .ou {
        font-size: 16px;
        left: -30px;
    }
}

@media only screen and (max-width: 310px) {
    .container {
        height: 720px;
        margin-left: -45px;
    }

    .passwordVisibilityToggle {
        left: 140px;
    }

    .socialLogin {
        margin-left: -35px;
        display: flex;
        align-items: center;
    }
      
      .socialLogin button {
        margin-top: 10px; 
    }

    .label {
        font-size: 12px; 
    }

    .input {
        width: 140px;
    }

    .btn {
        font-size: 5.5px; 
        width: 70px; 
        height: 25px;
        left: 45px;
    }

    .content6 {
        width: 35px;
        height: 35px;
        top: 70px;
        left: 15px;
        font-size: 0; 
    }

    .content6 .iconevoltar {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }

    .terms {
        font-size: 12px;
        margin-left: 48px;
    }

    .ou {
        font-size: 12px;
        left: -35px;
    }
}

@media only screen and (max-width: 280px) {
    .container {
        height: 710px;
        margin-left: -45px;
    }

    .passwordVisibilityToggle {
        left: 50px;
        font-size: 20px;
    }

    .socialLogin {
        margin-left: -19px;
        display: flex;
        align-items: center;
    }
      
      .socialLogin button {
        margin-top: 10px; 
    }

    .label {
        font-size: 7px; 
    }

    .input {
        width: 80px;
    }

    .btn {
        font-size: 5.5px; 
        width: 60px; 
        height: 25px;
        left: 25px;
    }

    .content6 {
        width: 35px;
        height: 35px;
        top: 70px;
        left: 15px;
        font-size: 0; 
    }

    .content6 .iconevoltar {
        font-size: 20px;
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 0px;
        transform: scaleX(-1);
    }

    .terms {
        font-size: 7px;
        margin-left: 34px;
    }

    .ou {
        font-size: 7px;
        left: -55px;
    }
}

.socialLogin {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.socialLogin .btn {
    margin: 0 5px;
}

@media only screen and (max-width: 768px) {
    .socialLogin {
        flex-direction: column;
        align-items: center;
    }
    
    .socialLogin .btn {
        margin: 5px 0;
    }
}

.btn {
    margin-top: 20px;
  }
  