.container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 20px;
}

.header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.avaliacao {
    max-height: 400px;
    overflow-y: auto;
}

.textarea {
    display: flex;
    justify-content: center;
    max-height: 400px;
    overflow-y: auto;
}

.botao {
    border-radius: 5px;
}