.container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 1160px;
    margin: 0 auto;
}

.imageContainer {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.eventImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 1160px;
    max-height: 520px;
    border-radius: 10px 10px 0 0;
}

.description,
.dateVenue,
.tickets {
    border-radius: 10px;
    background-color: #C2CAE8;
    padding: 20px;
    margin-bottom: 20px;
}

.description p,
.dateVenue p,
.tickets p {
    margin: 0;
}

.cartIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C2CAE8;
    border-radius: 10px;
    cursor: pointer;
    height: 90px;
    width: auto;
    padding: 20px;
    transition: transform 0.2s ease; 
}

.cartIcon:hover {
    transform: scale(1.1); 

}

.marginTop20 {
    margin-top: 20px;
}
